version: '3.8'

services:
  db:
    image: postgres:15
    restart: unless-stopped
    volumes:
      - postgres-data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: user
      POSTGRES_DB: fureainomachi
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
  app:
    build:
      context: ..
      dockerfile: .devcontainer/Dockerfile
    volumes:
      - ../..:/workspaces:cached
    command: "uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload"
    working_dir: /workspaces/fureainomachi_backend/
    depends_on:
      - db
    ports:
      - "8000:8000"

volumes:
  postgres-data:
